body {
    padding-left: 10px;
    padding-right: 10px;
}

.dorky-header {
    color: red;
    background-color: lightblue;

}

.phil-list-header {
    font-style: italic;
}

.phils-container {
    display: flex;
    flex-direction: column;

}