body {
    padding-left: 10px;
    padding-right: 10px;
}

.dorky-header {
    color: red;
    background-color: lightblue;

}

.phil-list-header {
    font-style: italic;
    text-align: center;
}

.phils-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
